### Importing libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import re

### Loading Data sets

In [2]:
# Loading comapnies and round2 datasets

companies = pd.read_csv("companies.txt", sep="\t", encoding = "ISO-8859-1")
rounds2 = pd.read_csv("rounds2.csv", encoding = "ISO-8859-1")

FileNotFoundError: File b'companies.txt' does not exist

### Summary of data sets

In [3]:
#Summary of companies data set 

print(companies.info())
print('\nshape of the companies dataset:')
print(companies.shape)

NameError: name 'companies' is not defined

In [313]:
#Summary of round2 dataset

print(rounds2.info())
print('\nshape of the rounds dataset:')
print(rounds2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB
None

shape of the rounds dataset:
(114949, 6)

In [314]:
#Diplaying top few datasets of companies

companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [315]:
#Displaying top few datasets of rounds2

rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0


## Checkpoint 1: Data Cleaning

### __1.1 : Removal of special characters__
We can see the presence of special characters in the companies dataset in columns(`permalink and name`) and in `company_permalink` column in rounds2 dataset. These are removed by using encoding and decoding methods.

In [316]:
# Converting into ascii to remove special characters 

companies[['permalink','name']] = companies[['permalink','name']].applymap(lambda x: str(x).encode('utf-8').decode('ascii', 'ignore' ))
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [317]:
#Removing Special Character, similar to the companies dataset

rounds2['company_permalink']=rounds2['company_permalink'].str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

### __1.2 : Duplicates and Null value percentages__

#### 1.2.1 duplicates and null values in Companies file

In [318]:
#Making the cloumn permalink to lower case
companies['permalink'] = companies['permalink'].str.lower()


#Remove blank space 
companies.permalink = [c.replace(' ', '') for c in companies.permalink]


#check for duplicate rows based on permalink
print('number of duplicate records in Companies dataset')
print(companies.duplicated(['permalink']).sum())

print('\nNumber of Unique companies in Companies dataset')
print(companies['permalink'].unique().size)

number of duplicate records in Companies dataset
0

Number of Unique companies in Companies dataset
66368

#### 1.2.2 : Duplicates and Null values in rounds2 dataset

In [319]:
#Making the cloumn company_permalink to lower case
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()

#Remove blank space
rounds2.company_permalink = [c.replace(' ', '') for c in rounds2.company_permalink]

#check for duplicate rows based on company_permalink
print('number of duplicate records in rounds2 data file')
print(rounds2.duplicated(['company_permalink']).sum())


print('\nNumber of Unique companies in rounds2 data file')
print(rounds2['company_permalink'].unique().size)

#check if any records of duplicate funding are present
print('\nNumber of duplicate funding records based on funding permalink')
print(rounds2.duplicated('funding_round_permalink').sum())

number of duplicate records in rounds2 data file
48581

Number of Unique companies in rounds2 data file
66368

Number of duplicate funding records based on funding permalink
0

In [320]:
#To check there are any companies in the rounds2 file which are not present in companies
set(rounds2['company_permalink']).symmetric_difference(set(companies['permalink']))

set()

In [321]:
# finding percentage of null values in columns

print('Percentage of null values column wise in Companies:')
print(round(100*companies.isnull().sum()/len(companies),2))

print('\nPercentage of null values column wise in  rounds2:')
print(round(100*rounds2.isnull().sum()/len(rounds2),2))

Percentage of null values column wise in Companies:
permalink         0.00
name              0.00
homepage_url      7.62
category_list     4.74
status            0.00
country_code     10.48
state_code       12.88
region           12.10
city             12.10
founded_at       22.93
dtype: float64

Percentage of null values column wise in  rounds2:
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

### __1.3 : Create the master_frame__

`Master_frame` is created by merging `companies` and `rounds2` dataframes using columns `permalink` and `company_permalink` in the respective dataframe

In [322]:
#Merge the two data frames companies and round2

master_frame=pd.merge(rounds2, companies, how = 'left', left_on = 'company_permalink', right_on = 'permalink')
master_frame.shape

(114949, 16)

####  Summary of master frame

In [323]:
print('Shape of the master_frame:')
print(master_frame.shape)
print('\n')
print(master_frame.info())

Shape of the master_frame:
(114949, 16)


<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
permalink                  114949 non-null object
name                       114949 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB
None

In [324]:
#To check unique value of funding_round_permalink column in master_frame dataset
master_frame['funding_round_permalink'].unique().size

114949

In [325]:
#Code for column-wise null count 
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      0
name                           0
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [326]:
#Code for row-wise null count here
master_frame.isnull().all(axis=1).sum()

0

In [327]:
#Code for column-wise null percentages her
round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [328]:
#Code for dropping the unnecessary columns

master_frame=master_frame.drop('funding_round_code',axis=1)
master_frame=master_frame.drop('homepage_url',axis=1)
master_frame=master_frame.drop('state_code',axis=1)
master_frame=master_frame.drop('region',axis=1)
master_frame=master_frame.drop('city',axis=1)
master_frame=master_frame.drop('founded_at',axis=1)

round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
category_list               2.97
status                      0.00
country_code                7.55
dtype: float64

In [329]:
# Code for dropping the rows here

# Removing NaN raised_amount_usd and country_code rows having more than 5% Null values

master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
permalink                  0.00
name                       0.00
category_list              1.10
status                     0.00
country_code               6.16
dtype: float64

In [330]:
# percentage of the rows retained after completing all the tasks above

print(master_frame.shape)
100*(len(master_frame.index)/114949)

(94959, 10)

82.60967907506807

## Checkpoint 2: Funding Type Analysis

#### Average Values of Investments for Each of the Funding Types

In [331]:
# Code for unit conversion of the raised_amount_usd columns from $ to million $

master_frame['raised_amount_usd']=(master_frame['raised_amount_usd']/1000000)
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10.000000,/organization/-fame,#fame,Media,operating,IND
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,0.700000,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,30-01-2014,3.406878,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2.000000,/organization/0-6-com,0-6.com,Curated Web,operating,CHN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,01-07-2014,0.041250,/organization/01games-technology,01Games Technology,Games,operating,HKG

In [332]:
#Average value of investment for each investment type
master_frame.groupby(['funding_round_type'])['raised_amount_usd'].mean()

funding_round_type
angel                      0.958694
convertible_note           1.453439
debt_financing            17.043526
equity_crowdfunding        0.538368
grant                      4.300576
non_equity_assistance      0.411203
post_ipo_debt            168.704572
post_ipo_equity           82.182494
private_equity            73.308593
product_crowdfunding       1.363131
secondary_market          79.649630
seed                       0.719818
undisclosed               19.242370
venture                   11.748949
Name: raised_amount_usd, dtype: float64

We can see that the mean of venture funding falls in the range of the amount (5 to 15 million USD) that sparks company wants to invest. Also from above, we can see that venture has the highest number of investments far greater than the other types and also venture has the highest number of investments between the desired range of investment. __Hence `Venture` is the desired funding type for Sparks__.

## Checkpoint 3 : Identifying the countries for investment

In [333]:
#Removing NaN country_code rows having more than 5% Null values
master_frame=master_frame.dropna(subset=['country_code'])

round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
permalink                  0.00
name                       0.00
category_list              0.65
status                     0.00
country_code               0.00
dtype: float64

In [334]:
# percentage of the rows retained after completing all the tasks above
print(master_frame.shape)

100*(len(master_frame.index)/114949)

(89108, 10)

77.51959564676508

#### Since, from the above we know that Venture is the best funding type for Spark. 
#### So, for optimizing the code we have created a new data frame master_frame_venture from master_frame of venture type only.

In [335]:
# Creating master_frame_venture data frame

master_frame_venture=master_frame.loc[master_frame['funding_round_type'] == 'venture',:]
master_frame_venture.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10.000000,/organization/-fame,#fame,Media,operating,IND
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2.000000,/organization/0-6-com,0-6.com,Curated Web,operating,CHN
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,21-12-2009,0.719491,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,operating,CAN
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,09-11-2015,20.000000,/organization/0xdata,H2O.ai,Analytics,operating,USA
11,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,03-01-2013,1.700000,/organization/0xdata,H2O.ai,Analytics,operating,USA

### 3.1 : Creating the dataframe Top9

In [336]:
#top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)
# Store the result in data frame top9

master_frame_countrysum = master_frame_venture.groupby('country_code').raised_amount_usd.sum().to_frame().reset_index().rename(columns={'raised_amount_usd':'Total'})
top9 = master_frame_countrysum.sort_values(by = 'Total', ascending=False).head(9)

top9

   country_code          Total
94          USA  422510.842796
15          CHN   39835.418773
29          GBR   20245.627416
39          IND   14391.858718
12          CAN    9583.332317
28          FRA    7259.536732
42          ISR    6907.514579
21          DEU    6346.959822
45          JPN    3363.676611

### 3.2 : List of English and Non-English speaking countries from the above TOP 9 countries

In [337]:
top9.loc[top9['country_code'] == 'USA','English_Speaking_country'] = 'YES'
top9.loc[top9['country_code'] == 'CHN','English_Speaking_country'] = 'NO'
top9.loc[top9['country_code'] == 'GBR','English_Speaking_country'] = 'YES'
top9.loc[top9['country_code'] == 'IND','English_Speaking_country'] = 'YES'
top9.loc[top9['country_code'] == 'CAN','English_Speaking_country'] = 'YES'
top9.loc[top9['country_code'] == 'FRA','English_Speaking_country'] = 'NO'
top9.loc[top9['country_code'] == 'ISR','English_Speaking_country'] = 'NO'
top9.loc[top9['country_code'] == 'DEU','English_Speaking_country'] = 'NO'
top9.loc[top9['country_code'] == 'JPN','English_Speaking_country'] = 'NO'

top9

   country_code          Total English_Speaking_country
94          USA  422510.842796                      YES
15          CHN   39835.418773                       NO
29          GBR   20245.627416                      YES
39          IND   14391.858718                      YES
12          CAN    9583.332317                      YES
28          FRA    7259.536732                       NO
42          ISR    6907.514579                       NO
21          DEU    6346.959822                       NO
45          JPN    3363.676611                       NO

#### So, from the above, We can see that the Top9 countries have one of the Main language as English are USA, GBR and IND.

## Checkpoint 4: Sector Analysis 1

### 4.1 : Creating primary category in master frame
`Primary_category` is created by spliting the `category_list` and assiging the first value.

In [338]:
# Code for extracting the primary sector here

#Spliting the category_list column
master_frame_venture['primary_sector'] = master_frame_venture["category_list"].str.split('|', n = 1, expand = True)[0]

master_frame_venture.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code,primary_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10.000000,/organization/-fame,#fame,Media,operating,IND,Media
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2.000000,/organization/0-6-com,0-6.com,Curated Web,operating,CHN,Curated Web
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,21-12-2009,0.719491,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,operating,CAN,Biotechnology
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,09-11-2015,20.000000,/organization/0xdata,H2O.ai,Analytics,operating,USA,Analytics
11,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,03-01-2013,1.700000,/organization/0xdata,H2O.ai,Analytics,operating,USA,Analytics

### 4.2 : Importing and Cleaning mapping data

In [339]:
mapping=pd.read_csv("mapping.csv", encoding = "ISO-8859-1")
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 10 columns):
category_list                              687 non-null object
Automotive & Sports                        688 non-null int64
Blanks                                     688 non-null int64
Cleantech / Semiconductors                 688 non-null int64
Entertainment                              688 non-null int64
Health                                     688 non-null int64
Manufacturing                              688 non-null int64
News, Search and Messaging                 688 non-null int64
Others                                     688 non-null int64
Social, Finance, Analytics, Advertising    688 non-null int64
dtypes: int64(9), object(1)
memory usage: 53.8+ KB

### 4.2.1: Data cleaning

#### Removing '0' with 'na' except Enterprise 2.0

In [340]:
mapping.loc[mapping.category_list != 'Enterprise 2.0',['category_list']] =mapping.category_list.replace('[0]','na',regex=True) 

mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

#### Use of melt function to perform the transpose for mapping datafame

In [341]:
mapping = pd.melt(mapping,id_vars=['category_list'], var_name='main_sector')

#Dropping the rows with value=0
mapping = mapping.drop(mapping[mapping['value']==0].index)

mapping

                 category_list                              main_sector  value
8             Adventure Travel                      Automotive & Sports      1
14                   Aerospace                      Automotive & Sports      1
45                        Auto                      Automotive & Sports      1
46             Automated Kiosk                      Automotive & Sports      1
47                  Automotive                      Automotive & Sports      1
57                    Bicycles                      Automotive & Sports      1
69            Boating Industry                      Automotive & Sports      1
87                         CAD                      Automotive & Sports      1
93                        Cars                      Automotive & Sports      1
188                     Design                      Automotive & Sports      1
189                  Designers                      Automotive & Sports      1
213                     Drones                      Automotive & Sports      1
226          Electric Vehicles                      Automotive & Sports      1
292                      Fuels                      Automotive & Sports      1
331             Heavy Industry                      Automotive & Sports      1
364      Industrial Automation                      Automotive & Sports      1
409                 Limousines                      Automotive & Sports      1
602                     Soccer                      Automotive & Sports      1
626             Sporting Goods                      Automotive & Sports      1
627                     Sports                      Automotive & Sports      1
652             Transportation                      Automotive & Sports      1
657       Unmanned Air Systems                      Automotive & Sports      1
688                        NaN                                   Blanks      1
1392     Air Pollution Control               Cleantech / Semiconductors      1
1409               Aquaculture               Cleantech / Semiconductors      1
1437                 Bio-Pharm               Cleantech / Semiconductors      1
1438                  Biofuels               Cleantech / Semiconductors      1
1439            Bioinformatics               Cleantech / Semiconductors      1
1440  Biomass Power Generation               Cleantech / Semiconductors      1
1441                Biometrics               Cleantech / Semiconductors      1
...                        ...                                      ...    ...
6020          Personal Finance  Social, Finance, Analytics, Advertising      1
6037                  Pre Seed  Social, Finance, Analytics, Advertising      1
6038      Predictive Analytics  Social, Finance, Analytics, Advertising      1
6040          Price Comparison  Social, Finance, Analytics, Advertising      1
6053               Promotional  Social, Finance, Analytics, Advertising      1
6054       Property Management  Social, Finance, Analytics, Advertising      1
6055          Public Relations  Social, Finance, Analytics, Advertising      1
6074                    Retail  Social, Finance, Analytics, Advertising      1
6075         Retail Technology  Social, Finance, Analytics, Advertising      1
6079           Risk Management  Social, Finance, Analytics, Advertising      1
6082       Sales and Marketing  Social, Finance, Analytics, Advertising      1
6107   Social + Mobile + Local  Social, Finance, Analytics, Advertising      1
6108        Social Bookmarking  Social, Finance, Analytics, Advertising      1
6109           Social Business  Social, Finance, Analytics, Advertising      1
6110             Social Buying  Social, Finance, Analytics, Advertising      1
6111           Social Commerce  Social, Finance, Analytics, Advertising      1
6112                Social CRM  Social, Finance, Analytics, Advertising      1
6113        Social Fundraising  Social, Finance, Analytics, Advertising      1
6114              Social Games  Social, Finance, Analytics, Advertising      1
6115              Social Media  Social, Finance, Analytics, Advertising      1
6116   Social Media Management  Social, Finance, Analytics, Advertising      1
6117    Social Media Marketing  Social, Finance, Analytics, Advertising      1
6118    Social Media Platforms  Social, Finance, Analytics, Advertising      1
6119      Social Network Media  Social, Finance, Analytics, Advertising      1
6120               Social News  Social, Finance, Analytics, Advertising      1
6121         Social Recruiting  Social, Finance, Analytics, Advertising      1
6122         Social Television  Social, Finance, Analytics, Advertising      1
6123             Social Travel  Social, Finance, Analytics, Advertising      1
6134           Stock Exchanges  Social, Finance, Analytics, Advertising      1
6167           Venture Capital  Social, Finance, Analytics, Advertising      1

[688 rows x 3 columns]

### 4.2.2: Mapping the primary sectors of master_frame_venture and mapping dataframe

In [342]:
# creating a new dataframe mf_venture_sector
mf_venture_sector= pd.merge(master_frame_venture,mapping, how = "inner", left_on = ["primary_sector"], right_on = ["category_list"])

mf_venture_sector.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47928 entries, 0 to 47927
Data columns (total 14 columns):
company_permalink          47928 non-null object
funding_round_permalink    47928 non-null object
funding_round_type         47928 non-null object
funded_at                  47928 non-null object
raised_amount_usd          47928 non-null float64
permalink                  47928 non-null object
name                       47928 non-null object
category_list_x            47626 non-null object
status                     47928 non-null object
country_code               47928 non-null object
primary_sector             47626 non-null object
category_list_y            47626 non-null object
main_sector                47928 non-null object
value                      47928 non-null int64
dtypes: float64(1), int64(1), object(12)
memory usage: 5.5+ MB

#### Droping unwanted column 'value' and null values from category list

In [343]:
#Dropping the unwanted column value

mf_venture_sector=mf_venture_sector.drop('value',axis=1)

#Removing NaN category_list_x rows

mf_venture_sector=mf_venture_sector.dropna(subset=['category_list_x'])

print("Summary:")
round(100*(mf_venture_sector.isnull().sum()/len(mf_venture_sector.index)),2)

Summary:

company_permalink          0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
permalink                  0.0
name                       0.0
category_list_x            0.0
status                     0.0
country_code               0.0
primary_sector             0.0
category_list_y            0.0
main_sector                0.0
dtype: float64

## Checkpoint 5: Sector Analysis 2

#### As Spark is mainly focus on Raised_amount_usd between 5 to 15 millions USD, so refining the data based on that.

In [344]:
# Raised_amount_usd should be between 5 to 15 millions USD

mf_venture_sector = mf_venture_sector.loc[(mf_venture_sector['raised_amount_usd'] >= 5.000000) & (mf_venture_sector['raised_amount_usd'] <= 15.000000) ,:]

### 5.1 : Create D1, D2 and D3 dataframe for Top3 countries

#### Create D1 Dataframe for Country C1 (USA)

In [345]:
#Dataframe D1 for country 'USA'

D1 = mf_venture_sector.loc[mf_venture_sector['country_code'] == 'USA',:] 

#Adding the new column total number of investments as count_of_investment for each main sector to D1 data frame

D1_tot_count=D1.groupby(['main_sector']).size().reset_index(name='count_of_investment')
D1= pd.merge(D1,D1_tot_count, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

# Adding the new column total amount invested as amount_of_investment for each main sector to D1 data frame

D1_tot_amount=D1.groupby(['main_sector'])["raised_amount_usd"].sum().reset_index(name ='amount_of_investment')
D1= pd.merge(D1,D1_tot_amount, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

D1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12012 entries, 0 to 12011
Data columns (total 15 columns):
company_permalink          12012 non-null object
funding_round_permalink    12012 non-null object
funding_round_type         12012 non-null object
funded_at                  12012 non-null object
raised_amount_usd          12012 non-null float64
permalink                  12012 non-null object
name                       12012 non-null object
category_list_x            12012 non-null object
status                     12012 non-null object
country_code               12012 non-null object
primary_sector             12012 non-null object
category_list_y            12012 non-null object
main_sector                12012 non-null object
count_of_investment        12012 non-null int64
amount_of_investment       12012 non-null float64
dtypes: float64(2), int64(1), object(12)
memory usage: 1.5+ MB

#### Create D2 Dataframe for Country C2 (GBR)

In [346]:
#Dataframe D2 for country GBR

D2 = mf_venture_sector.loc[mf_venture_sector['country_code'] == 'GBR',:] 

#Adding the new column total number of investments as count_of_investment for each main sector to D2 data frame

D2_tot_count=D2.groupby(['main_sector']).size().reset_index(name='count_of_investment')
D2 = pd.merge(D2,D2_tot_count, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

#Adding the new column total amount invested as amount_of_investment for each main sector to D2 data frame

D2_tot_amount=D2.groupby(['main_sector'])["raised_amount_usd"].sum().reset_index(name ='amount_of_investment')
D2 = pd.merge(D2,D2_tot_amount, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

D2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 619 entries, 0 to 618
Data columns (total 15 columns):
company_permalink          619 non-null object
funding_round_permalink    619 non-null object
funding_round_type         619 non-null object
funded_at                  619 non-null object
raised_amount_usd          619 non-null float64
permalink                  619 non-null object
name                       619 non-null object
category_list_x            619 non-null object
status                     619 non-null object
country_code               619 non-null object
primary_sector             619 non-null object
category_list_y            619 non-null object
main_sector                619 non-null object
count_of_investment        619 non-null int64
amount_of_investment       619 non-null float64
dtypes: float64(2), int64(1), object(12)
memory usage: 77.4+ KB

#### Create D3 Dataframe for Country C3 (IND)

In [347]:
#Dataframe D3 for country IND

D3 = mf_venture_sector.loc[mf_venture_sector['country_code'] == 'IND',:] 

# Adding the new column total number of investments as count_of_investment for each main sector to D3 data frame

D3_tot_count=D3.groupby(['main_sector']).size().reset_index(name='count_of_investment')
D3= pd.merge(D3,D3_tot_count, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

# Adding the new column total amount invested as amount_of_investment for each main sector to D3 data frame

D3_tot_amount=D3.groupby(['main_sector'])["raised_amount_usd"].sum().reset_index(name ='amount_of_investment')
D3= pd.merge(D3,D3_tot_amount, how = "inner", left_on = ["main_sector"], right_on = ["main_sector"])

D3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 0 to 327
Data columns (total 15 columns):
company_permalink          328 non-null object
funding_round_permalink    328 non-null object
funding_round_type         328 non-null object
funded_at                  328 non-null object
raised_amount_usd          328 non-null float64
permalink                  328 non-null object
name                       328 non-null object
category_list_x            328 non-null object
status                     328 non-null object
country_code               328 non-null object
primary_sector             328 non-null object
category_list_y            328 non-null object
main_sector                328 non-null object
count_of_investment        328 non-null int64
amount_of_investment       328 non-null float64
dtypes: float64(2), int64(1), object(12)
memory usage: 41.0+ KB

### 5.2 : Sector Analysis for Top 3 countries

### 5.2.1: Total No. of investments

#### Total No of investments for Country C1

In [348]:
#Total No of investment for Country C1

D1_total_count=D1.groupby(['count_of_investment']).count().sum()
D1_total_count.main_sector.sum()

12012

#### Total No of investments for Country C2

In [349]:
#Total No of investment for Country C2

D2_total_count=D2.groupby(['count_of_investment']).count().sum()
D2_total_count.main_sector.sum()

619

#### Total No of investments for Country C3

In [350]:
# Total No of investment for Country C3

D3_total_count=D3.groupby(['count_of_investment']).count().sum()
D3_total_count.main_sector.sum()

328

### 5.2.2: Total amount of investment in millions USD

#### Total amount of investment for Country C1

In [351]:
#Total amount of investment for C1

D1_total_amount=D1.groupby(['amount_of_investment']).sum()
D1_total_amount.raised_amount_usd.sum()

107318.29466399996

#### Total amount of investment for Country C2

In [352]:
#Total amount of investment for C2

D2_total_amount=D2.groupby(['amount_of_investment']).sum()
D2_total_amount.raised_amount_usd.sum()

5365.228300000001

#### Total amount of investment for Country C3

In [353]:
#Total amount of investment for C3

D3_total_amount=D3.groupby(['amount_of_investment']).sum()
D3_total_amount.raised_amount_usd.sum()

2949.5436019999997

### 5.2.3: Top sectors based on count of investments

#### Top  3 sectors based on count of investments for Country C1

In [354]:
# Top sectors based on count of investments for Country C1

#list of columns which are of most significance
needed_column_list = ['main_sector','count_of_investment','amount_of_investment']

D1.drop_duplicates('main_sector').sort_values('count_of_investment',ascending = False)[needed_column_list].head(3)

,main_sector,count_of_investment,amount_of_investment
7187,Others,2950,26321.007002
4473,"Social, Finance, Analytics, Advertising",2714,23807.376964
2173,Cleantech / Semiconductors,2300,21206.628192

#### Top 3 sectors based on count of investments for Country C2

In [355]:
# Top sectors based on count of investments for Country C2

D2.drop_duplicates('main_sector').sort_values('count_of_investment',ascending = False)[needed_column_list].head(3)

,main_sector,count_of_investment,amount_of_investment
390,Others,147,1283.624289
257,"Social, Finance, Analytics, Advertising",133,1089.404014
129,Cleantech / Semiconductors,128,1150.139665

#### Top 3 sectors based on count of investments for Country C3

In [356]:
# Top sectors based on count of investments for Country C3

D3.drop_duplicates('main_sector').sort_values('count_of_investment',ascending = False)[needed_column_list].head(3)

,main_sector,count_of_investment,amount_of_investment
165,Others,110,1013.409507
105,"Social, Finance, Analytics, Advertising",60,550.549550
33,"News, Search and Messaging",52,433.834545

### 5.2.4 : Top company in Top sector for Top 3 Countries

#### Top company in Top sector for Country C1

In [357]:
#which company received the highest investment for top sector in Country C1


D1[D1['main_sector'] == 'Others'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending = False).head(1)

name
Virtustream    64.3
Name: raised_amount_usd, dtype: float64

Considering only the investments in 5-15 million range,we can see that Virtustream is the highest invested company with 64.3 million in USA

#### Top company in Top sector for Country C2

In [358]:
#For point 3 (top sector count-wise), which company received the highest investment for Country C2

D2[D2['main_sector'] == 'Others'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending = False).head(1)

name
Electric Cloud    37.0
Name: raised_amount_usd, dtype: float64

Considering only the investments in 5-15 million range,we can see that Electric Cloud is the highest invested company with 37 million in GBR.

#### Top company in Top sector for Country C3

In [359]:
#For point 3 (top sector count-wise), which company received the highest investment for Country C3

D3[D3['main_sector'] == 'Others'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending = False).head(1)

name
FirstCry.com    39.0
Name: raised_amount_usd, dtype: float64

Considering only the investments in 5-15 million range,we can see that FirstCry.com is the highest invested company with 39 million in IND.

### 5.2.4 : Top company in Second best sector for Top 3 Countries

#### Top company in Second best sector for Country C1

In [360]:
D1[D1['main_sector']=='Social, Finance, Analytics, Advertising'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

name
SST Inc. (Formerly ShotSpotter)    67.933006
Name: raised_amount_usd, dtype: float64

#### Top company in Second best sector for Country C2

In [361]:
D2[D2['main_sector']=='Social, Finance, Analytics, Advertising'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

name
Celltick Technologies    37.5
Name: raised_amount_usd, dtype: float64

#### Top company in Second best sector for Country C3

In [362]:
D3[D3['main_sector']=='Social, Finance, Analytics, Advertising'].groupby('name')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

name
Manthan Systems    50.7
Name: raised_amount_usd, dtype: float64

## Checkpoint 6: Plots

#### Commands used for exporting dataframe to tableau for Data Visualization

In [363]:
master_frame_venture_csv = master_frame_venture.to_csv (r'C:\Users\skpalit\Desktop\sandeep\PYTHON\case study\df_venture_sector.csv',index = None, header=True)

In [364]:
df_venture_sector_csv = df_venture_sector.to_csv (r'C:\Users\skpalit\Desktop\sandeep\PYTHON\case study\df_venture_sector.csv',index = None, header=True)

## ---------------------------------------- The End ---------------------------------------